.turn-table {
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: center;
}

.buttons {
    display: flex;
    width: 450px;
    margin-inline: auto;
    margin-block: 2rem;
    justify-content: space-around;
}

.next-round {
    position: absolute;
    top: 40%;
    right: 5%;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}